<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests" parallel="false" verbose="1">
     
    <test name="sample">
        <classes>
            <class name="com.websystique.testng.frontend.*" />
        </classes>
    </test>
</suite>